* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/*----------------------------------------------------------------------------HOME PAGE---------------------------------------------------------------------------------*/

/*----------------------------------Navbar---------------------------------------*/

#navbar {
    background-color: black;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 20%;
}

.logo img {
    height: 5vh;
    width: 5vw;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 0 30px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation a:hover {
    color: rgb(188, 51, 51);
}

.btn {
    width: 20%;
}

.btn button {
    width: 6vw;
    height: 6vh;
    border: none;
    border-radius: 20px;
    background-color: rgb(188, 51, 51);
    color: white;
    padding: 12px;
    font-weight: bold;
}

.btn button:hover {
    background-color: rgb(173, 20, 20);
}

/*----------------------------------------FOOTBALL-----------------------------------------*/

.edge h2,h5{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.goal img{
    margin-top: 80px;
    height: 50vh;
    width: 100%;
}
/*----------------------------------------COMMUNITY-TYPES-----------------------------------------*/

#communityTypes{
    height: 20vh;
    width: 100%;
}
/*----------------------------------------COMMUNITY-TYPES-----------------------------------------*/

#HIIT{
    height: 55vh;
    width: 100%;
    display: flex;
}
.Hiit-Text{
    padding-left: 100px;
}
.Hiit-Text h2{
    font-size: 30px;
}
.Hiit-Text p{
    color: rgb(104, 101, 101);
}
.hiit-image img{
    width: 40vw;
    height: 30vh;
    margin: 5vh 7vw;

}
.hiit-btn{
    width: 15vw;
    height: 7vh;
    border: none;
    background-color: rgb(185, 10, 10);
    color: white;
    font-weight: bold;
}
.hiit-btn:hover{
    background-color: rgb(137, 11, 11);
}

/*----------------------------------------MUMBAI-----------------------------------------*/

#mumbai{
    height: 70vh;
    width: 100%;
}
.mumbai-imgs{
    display: flex;
}
.half{
    width: 50%;
}
.half img{
    height: 62vh;
    width: 35vw;
    margin: 0 100px;
    margin-right: 50px;
    border-radius: 20px;
}
.half img:hover{
    transform: scale(1.08);
    transition: all 0.4s ease-in-out;
}
.remaining{
    width: 50%;
    margin-right: 100px;
}
.remaining img{
    height: 30vh;
    border-radius: 20px;
    margin: 4px;
}
.remaining img:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out;
}
/*----------------------------------------FEATURED-----------------------------------------*/

.products img{
    height: 50vh;
    width: 20vw;
}
.products{
    display: flex;
    gap: 30px;
}
.products h4{
    color: rgb(83, 82, 82);
}

/*----------------------------------------MISTAKES-----------------------------------------*/

#mistakes{
    height: 80vh;
    width: 100%;
    display: flex;
}
.graph{
    display: flex;
    align-items: start;
    padding: 100px;
    padding-right: 40px;
}
.graph img{
    width: 20vw;
}
.mistake-data{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 100px 0;
}
.mistake-images{
    width: 33%;
}
.mistake-btn{
    height: 6vh;
    width: 12vw;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(225, 21, 21);
}
.mistake-btn:hover{
    background-color: rgb(184, 17, 17);
}
.mistake-images img{
    height: 18vh;
    margin-bottom: 10px;
}
/*------------------------------FOOTER-----------------------------------*/

#footer {
    background-color: black;
    height: 50vh;
    width: 100%;
    color: white;
    display: flex;
}

.footer_logo {
    width: 20%;
    margin: 70px;
}

.social {
    margin-bottom: 40px;
}

.media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.media img {
    height: 24px;
    width: 24px;
    background-color: white;
}

.media img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}

.footer_data {
    width: 44%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.footer_data h4 {
    color: rgb(219, 42, 42);
    cursor: pointer;
}

.footer_data h4:hover {
    color: rgb(222, 116, 116);
}

.collect p:hover {
    color: gray;
}

.navigate p:hover {
    color: gray;
}

.commune p:hover {
    color: gray;
}