* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/*----------------------------------------------------------------------------HOME PAGE---------------------------------------------------------------------------------*/

/*----------------------------------Navbar---------------------------------------*/

#navbar {
    background-color: black;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 20%;
}

.logo img {
    height: 5vh;
    width: 5vw;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 0 30px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation a:hover {
    color: rgb(188, 51, 51);
}

.btn {
    width: 20%;
}

.btn button {
    width: 6vw;
    height: 6vh;
    border: none;
    border-radius: 20px;
    background-color: rgb(188, 51, 51);
    color: white;
    padding: 12px;
    font-weight: bold;
}

.btn button:hover {
    background-color: rgb(173, 20, 20);
}
/*----------------------------------------TRACK-----------------------------------------*/

.edge h2,
h5 {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.goal img {
    margin-top: 80px;
    height: 50vh;
    width: 100%;
}
.edge {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    float: left;
    position: absolute;
    right: 75%;
    bottom: 45%;
}
/*---------------------------------------RUN-----------------------------------------*/

#run{
    /* background-color: black; */
    margin: 0;
}
.running{
    position: relative;
}
.running img{
    height: 90vh;
    width: 100%;
}
.hub_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -7%;
    right: 27%;
    color: white;
    letter-spacing: 1px;
}
.hub_btn{
    height: 6vh;
    width: 15vw;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(208, 34, 34);
}
.hub_btn:hover{
    background-color: rgb(180, 26, 26);
}
/*------------------------------FOOTER-----------------------------------*/

#footer {
    background-color: black;
    height: 50vh;
    width: 100%;
    color: white;
    display: flex;
}

.footer_logo {
    width: 20%;
    margin: 70px;
}

.social {
    margin-bottom: 40px;
}

.media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.media img {
    height: 24px;
    width: 24px;
    background-color: white;
}

.media img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}

.footer_data {
    width: 44%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.footer_data h4 {
    color: rgb(219, 42, 42);
    cursor: pointer;
}

.footer_data h4:hover {
    color: rgb(222, 116, 116);
}

.collect p:hover {
    color: gray;
}

.navigate p:hover {
    color: gray;
}

.commune p:hover {
    color: gray;
}